<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aubo_i5_depth_camera">
    <xacro:arg name="use_sim_model" default="true"/>
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import aubo_i5_depth_camera urdf file -->
    <xacro:include filename="$(find aubo_description)/urdf/aubo_i5_depth_camera.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="aubo_i5_depth_camera.ros2_control.xacro" />


    <xacro:aubo_i5_depth_camera_ros2_control name="Aubosystem" initial_positions_file="$(arg initial_positions_file)" use_sim_model="$(arg use_sim_model)"/>
    
</robot>
