<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="aubo_i10_ros2_control" params="name initial_positions_file use_sim_model">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>
        
        <xacro:if value="${use_sim_model}">
            <gazebo>
                <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find aubo_i10)/config/ros2_controllers.yaml</parameters>
                </plugin>
            </gazebo>
        </xacro:if>

        <ros2_control name="${name}" type="system">
            <hardware>
              <xacro:if value="${use_sim_model}">
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
              </xacro:if>
              <xacro:unless value="${use_sim_model}">
                <plugin>mock_components/GenericSystem</plugin>
              </xacro:unless>
            </hardware>
            <joint name="shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="upperArm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['upperArm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="foreArm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['foreArm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist1_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist1_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist2_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist2_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="wrist3_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['wrist3_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
